@use '@angular/material' as mat;

@include mat.core();

$agora-jobs-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$violet-palette,
  ),
  density: (
    scale: 0,
  )
));

html {
  @include mat.all-component-themes($agora-jobs-theme);
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
